#HomeImg{
    width: 100%;
    margin-top: 4%;


 
}
#TextHome{
    color: rgb(20, 20, 20);


}
#HomePage1{
    display: flex;
    height: 250px;
    justify-content: center;
   
}
#HomePage2{
    display: flex;
    /* width: 10px; */
    height: 250px;
    justify-content: center;
    margin-top: 7%;
}